@import '../../../scss/utilities/functions';
@import '../../../scss/variables';

.Thread--isCollapsed {
    cursor: pointer;

    .Message:not(:first-of-type) {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;

        z-index: 1;
    }
}