@import '../../../scss/utilities/functions';
@import '../../../scss/variables';

.Thread--isCollapsed {
    cursor: pointer;

    &:hover .Message:first-of-type {
        box-shadow: 0 rem(12) rem(32) rgba(black, .1);
    }

    .Message:not(:first-of-type) {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;

        z-index: 1;
    }
}