@import '../../scss/utilities/functions';
@import '../../scss/variables';

@mixin hoveredMessageBoxShadow($color) {
    + .Message:hover {
        box-shadow: 0 rem(12) rem(32) rgba($color, .15),
                    inset 0 0 0 rem(1) $color;
    }
}

.MessageCountRatingHigh {
    @include hoveredMessageBoxShadow($message-count-background-high);

    background-color: $message-count-background-high;
}

.MessageCountRatingLow {
    @include hoveredMessageBoxShadow($message-count-background-low);

    background-color: $message-count-background-low;
}
