@import './scss/utilities/functions';
@import './scss/variables';

.Container {
  margin: rem(60) auto;

  padding-right: rem($container-padding);
  padding-left: rem($container-padding);

  width: 100%;
  min-width: rem(320);
  max-width: rem(768);
}
