@import './scss/utilities/functions';
@import './scss/variables';

* {
  &,
  &::before,
  &::after {
      box-sizing: border-box;
  }
}

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0;
  }
}

body {
  background-color: $body-bg;
  font-family: 'Comfortaa';
  color: $body-color;
}

.Container {
  margin-right: auto;
  margin-left: auto;

  padding-right: rem($container-padding);
  padding-left: rem($container-padding);

  width: 100%;
  min-width: rem(320);
  max-width: rem(768);
}
