$body-bg: #f2f2f2;
$body-color: #999;

$rating-high: #9335ff;
$rating-low: #e89d40;
$rating-default: #333;

$message-count-background-default: #666;
$message-count-background-high: #27aae1;
$message-count-background-low: $rating-low;

$message-question-color: #97999c;
$message-margin-top: 36px;

$container-padding: 16px;

$transition: .2s ease-in-out;

$zindex: (
    'badge': 20,
    'card': 10
);
